@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
	font-size: 62.5%;
	font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Home section */
/* .contain-bg{
	height: 80vh;
	background-size: contain;
} */
/* .home {
	height: 100vh;
} */


.home-list li {
	margin-left: 10%;
	text-align:left;
	list-style: circle
}

.text-container h1{
	font-family: 'Russo One', sans-serif;
	font-size: 3rem;
}

.text-container h3{
	margin: 1.2rem;
	font-family: 'Kanit', sans-serif;
	font-size: 2rem;
	font-weight: 700;
}

@media screen and (max-width : 1000px) {
	.text-container {
		height: 40vh;
	}
	.text-container h1{
		font-family: 'Russo One', sans-serif;
	}
	
	.text-container h3{
		margin: 1rem;
		font-family: 'Kanit', sans-serif;
	}
}

@media screen and (max-width : 700px) {
	.text-container {
		height: 60vh;
	}
	.text-container h1{
		font-family: 'Russo One', sans-serif;
	}
	
	.text-container h3{
		margin: 1rem;
		font-family: 'Kanit', sans-serif;
	}
}
